
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

    <style>


        body{


            background-color: gray;

        }
        



    </style>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout ">

        <h3> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; My orders </h3>

        <p> View all of your orders. </p>

        <hr>


    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout ">

        {% for order in orders %}

            <strong> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp;  Order ID # {{order.id}} </strong>
            
            <br> <br>

            {{order.product}}

            <br> <br>

            Quantity x {{order.quantity}}

            <br> <br>

            $ {{order.price}}

            <br> <br>

            <hr>


        {% endfor %}
        <p><strong>Your order is on its way to your address.  You will receive a call from the rider for address clarifications. 
             Contact the admin at <a href="mailto:uzairf2580@gmail.com">uzairf2580@gmail.com</a> for any other inquiries. (Kindly attach your order ID with the email)</strong></p>


    </div>

    <br>

{% endblock %}