{% extends "store/base.html" %}
{% load static %}

{% block content %}

<style>
.product-image {
    transition: transform 0.3s; /* Add a smooth transition effect on the transform property */
}

.product-image:hover {
    transform: scale(1.2); /* Increase the scale (zoom in) on hover */
}
.product-card {
    height: 400px; /* Set a fixed height for the cards */
  }
  
  .product-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .product-card img {
    max-height: 100%; /* Adjust the image size as needed */
    object-fit: contain; /* Preserve the aspect ratio of the image */
  }
  
  .product-card .product-title {
    font-size: 16px; /* Adjust the font size for the product title */
    margin: 10px 0;
    max-height: 3em; /* Set a max height for the product title */
    overflow: hidden;
    text-overflow: ellipsis;
  
  }
  
  .product-card .product-price {
    font-size: 18px; /* Adjust the font size for the product price */
  }
</style>
<!-- Search results section -->

<div class="album py-5 bg-light">
    <div class="container">
        <h1>Search Results for "{{ query }}"</h1>
        <hr>
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in results %}
                <div class="col">
                    <div style="height: 350px;" class="card shadow-sm product-card">
                        <img class="img-fluid product-image" alt="Product Image" src="{{ product.image.url }}">
                        <div class="card-body">
                            <p class="card-text product-title">
                                <a class="text-info text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title|capfirst }}</a>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5>$ {{ product.price|floatformat:"-2"|default:"0.00" }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

